html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-family: 'Signika', 'Arial', sans-serif;
  background-image: linear-gradient(#0250A8
, #0061ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  height: 800px;
  width: 100%;
}

/* logo section */

#header-pic {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 0;
}

.logo {
  margin: 0;
  width: 20%;
  height: 20%;
  top: 40%;
  left: 40%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  display: block;
}

/* navigation */
nav {
  background-color: #061038;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  padding: 2em;
  margin: 0;
}

li {
  display: inline;
  padding: 1em;
}

nav li:hover {
  background-color:#454f79;
}

/* carousel section */

.sec {
  height: 500px;
  margin: 0;
  background-color: #0250A8;
  display: block;
  overflow: hidden;
}

#container {
  height:100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

.carousel-cell.is-selected {
  background: #0250A8;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-button-icon {
  fill: white;
}

.car-div {
  position: absolute;
  width: 70%;
  height: auto;
  margin: 0;
  padding: 1em;
  margin-left: 10%;
  margin-top: 15%;
  background-color: rgba(0,0,0,.5);
}

.carousel-cell h2 {
  font-weight: 800;
  font-size: 3em;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.carousel-cell h3 {
  display: block;
  margin: 0;
}

.car-btn {
  position: absolute;
  font-size: 16px;
  margin-top: 28%;
  margin-left: 10%;
  font-weight: 600;
  border: none;
  padding: .8em 0 .8em .8em;
  background-color: white;
}

.left-btn, .right-btn {
  margin: 0;
  height: 100%;
  padding: .7em;
}

.left-btn {
  width: 75%;
  background-size: cover;
  color: black;
  font-size: 17px;
}

.right-btn {
  width: 25%;
  font-weight: 800;
  background-color: #ff0049;
  color: white;
}

.carousel-cell img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: 100%;
}

/* links section */

.sec1 {
  text-align: center;
  height: 25%;
  min-height: 300px;
}

.links {
  background-color: rgba(0,0,0,.5);
  margin: 0;
  height: 300px;
  width: 28%;
  padding: 25px;
  display: inline-block;
  position: relative;
}

.link-text {
  margin: 10% auto;
}

/* video section */

.sec2 {
  height: 600px;
  background: url("../img/sec2.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 0;
}

iframe {
  margin: 0;
  width: 80%;
  height: 415px;
  top: 15%;
  left: 10%;
  position: absolute;
  display: block;
}

/* extras section */

.sec3 {
  height: 650px;
  text-align: center;
  padding: 0;
}

.box {
  height: 300px;
  width: 35%;
  margin: 10% auto;
  padding: 50px;
  display: inline-block;
  background: rgba(0,0,0,.5);
}

/* footer */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,.8);
  text-align: right;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .sec1 {
    overflow: hidden;
  }
  
  .links {
    display: block;
    margin: 0;
    height: 30%;
    width: 100%;
    background-size: cover;
  }
  
.sec3 {
  padding: 0;
  overflow: hidden;
  height: 100px;
  position: relative;
 }
  
  iframe {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
  }
  

 
  .box {
    width: 100%;
    margin: 0;
    height: 45%;
    display: block;
  }
  
  footer {
    margin-top: 1em;
  }

}