html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-family: 'Signika', 'Arial', sans-serif;
  background-image: linear-gradient(#0250A8
, #0061ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  height: 100vh;
  width: 100%;
}

/* logo section */

#header-pic {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 0;
}

.logo {
  margin: 0;
  width: 20%;
  height: 20%;
  top: 40%;
  left: 40%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  display: block;
}

/* navigation */
nav {
  z-index: 99;
  top:0;
  background-color: #061038;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  position: fixed;
}

nav ul {
  list-style: none;
  padding: 2em;
  margin: 0;
}

li {
  display: inline;
  padding: 1em;
}

nav li:hover {
  background-color:#454f79;
}

/* carousel section */

.sec {
  margin: 0;
  background-color: #0250A8;
  display: block;
  overflow: hidden;
}

#container {
  height:100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  position: relative;
}

.carousel-cell.is-selected {
  background: #0250A8;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

.flickity-page-dots {
  bottom: 0px;
  display: none;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-button-icon {
  fill: white;
}

.car-div {
  position: absolute;
  width: 70%;
  height: auto;
  margin: 0;
  padding: 1em;
  margin-left: 10%;
  margin-top: 10%;
  background-color: rgba(0,0,0,.5);
}

.carousel-cell h2 {
  font-weight: 800;
  font-size: 3em;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.carousel-cell h3 {
  display: block;
  margin: 0;
}

.car-btn {
  position: absolute;
  font-size: 16px;
  margin-top: 20%;
  margin-left: 10%;
  font-weight: 600;
  height: 20px;
  border: none;
  height: 3em;
  padding: 0;
  background-color: white;
}

.left-btn, .right-btn {
  height: 100%;
}

.left-btn {
  width: 75%;
  color: black;
  font-size: 20px;
  margin: 20px;
}

.right-btn {
  width: 25%;
  font-weight: 800;
  background-color: #ff0049;
  margin-left: 1em;
  color: white;
  padding: .7em;
}

.carousel-cell img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: 100%;
}

/* links section */

.sec1 {
  text-align: center;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  background-color: rgba(0,0,0,.5);
  margin: 0;
  height: 400px;
  width: 28%;
  padding: 25px;
  position: relative;
}

.link-text {
  margin: 10% auto;
}

/* video section */

.sec2 {
  background: url("../img/sec2.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  position: relative;
  padding: 0;
}

iframe {
  margin: 0;
  width: 80%;
  height: 70%;
  /*position: absolute;*/
  /*display: block;*/
}

/* extras section */

.sec3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0;
}

.box {
  height: 300px;
  width: 35%;
  padding: 50px;
  background: rgba(0,0,0,.5);
}

/* footer */


footer {
  position: fixed;
  bottom: 0;
  z-index: 00;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  font-size: 12px;
}

.footer-info {
  text-align: right;
  padding: 10px;
}

@media only screen and (max-width: 768px) {

  .sec1 {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  }
  
  .links {
    margin: 0;
    height: 30%;
    width: 100%;
    background-size: cover;
  }
  
.sec3 {
  padding: 0;
  overflow: hidden;
  height: 100px;
  position: relative;
 }
  
  iframe {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
  }
  

 
  .box {
    width: 100%;
    margin: 0;
    height: 45%;
    display: block;
  }
  
  footer {
    margin-top: 1em;
  }

}